modules = ["java-17:v26-20240215-0bd73cd"]
[nix]
channel = "stable-24_05"
packages = ["maven"]

[deployment]
deploymentTarget = "autoscale"
run = ["mvn", "spring-boot:run"]

[runButton]
name = "Run Spring Boot App"

[[ports]]
localPort = 7090
externalPort = 80

[env]
SPRING_PROFILES_ACTIVE = "production"

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdt-language-server"

[unitTest]
language = "java"

[nix.channel]
channel = "stable-24_05"